<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация/Авторизация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="{{ url_for('register') }}" method="POST">
                <h1>Регистрация</h1>
                <input type="text" name="username" placeholder="Имя" required />
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Пароль" required />
                {% with messages = get_flashed_messages(category_filter=['register_error']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="{{ url_for('login') }}" method="POST">
                <h1>Авторизация</h1>
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Пароль" required />
                {% with messages = get_flashed_messages(category_filter=['login_error']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <button type="submit">Войти</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Добро пожаловать!</h1>
                    <p>Чтобы отслеживать свои события, пожалуйста, войдите в систему с вашей личной информацией</p>
                    <button class="ghost" id="signIn">Авторизация</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Привет, друг!</h1>
                    <p>Введите свои личные данные и начните путешествие вместе с нами</p>
                    <button class="ghost" id="signUp">Регистрация</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='register.js') }}"></script>
</body>
</html>